// paleta de colores 

//primer esquema 
$cal: #2EC6BB; //botn
$cele: #8CEAE3; //borde boton
$caja: #5EADA1; //caja icono 
$je: #5EADA1; // encabezado servicio
$azi: #70D8C8; // letras servicios
$hol: rgba(174, 236, 222, 0.52); // fondo servicio
$white: #FFFFFF;

//segundo esquema
$gray: #C3C4C4;
$yar: #818181;
$gyr: #9A9B9B;
$black: #020707;
//tercer esquema 

//fuentes 
$salsa: 'Salsa', cursive;
$mont: 'Montserrat', sans-serif;
$play: 'Playfair Display', serif;

//tamaños de fuente
$small: 18px;
$medium: 22px;
$large: 50px;
$x-large: 70px;
$xx-large: 80px;
//pesos
$regular: 400;
$bold: 700;
$extra-light: 200;