// paleta de colores 

//primer esquema 
$cal: #2EC6BB;
$cele: #8CEAE3;
$white: #FFFFFF;

//segundo esquema
$gray: #C3C4C4;
$yar: #B4B7B7;
$gyr: #9A9B9B;
$black: #020707;
//tercer esquema 

//fuentes 
$salsa: 'Salsa', cursive;
$mont: 'Montserrat', sans-serif;
$play: 'Playfair Display', serif;

//tamaños de fuente
$medium: 18px;
$large: 50px;
$x-large: 70px;
$xx-large: 100px;
//pesos
$regular: 400;
$bold: 700;
$extra-light: 200;