.article_box h3, .article .article_encab {
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.bg-gray {
  background-color: #C3C4C4;
}

.navbar img {
  width: 100px;
}

@media (max-width: 568px) {
  nav {
    width: 100%;
    height: 80px;
  }
}
.header {
  width: 100%;
  height: 300%;
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0.9;
  position: relative;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 300%;
  background: #818181;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}
.header .header_titulo {
  width: 620px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
.header .header_titulo .header_tit {
  font-family: "Playfair Display", serif;
  font-size: 80px;
}
.header .header_titulo .header_tit2 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
}
.header .header_titulo .header_sub {
  font-size: 22px;
  margin: 0;
}
.header .header_titulo .header_button {
  border: 3px solid #8CEAE3;
  width: 180px;
  background-color: #2EC6BB;
  color: #FFFFFF;
  border-radius: 20px;
  margin-top: 42px;
}

.header_titulo:hover .header_button {
  background-color: #C3C4C4;
  color: #2EC6BB;
  width: 200px;
}

@media (max-width: 568px) {
  .header {
    width: 100%;
    height: 200px;
    background-image: url("../img/fondo.png");
    background-position: left;
    background-repeat: no-repeat;
    opacity: 0.9;
    position: relative;
  }
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: #818181;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
  }
  .header .header_titulo {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 80px;
    color: #FFFFFF;
  }
  .header .header_titulo .header_tit {
    font-family: "Playfair Display", serif;
    font-size: 28px;
  }
  .header .header_titulo .header_tit2 {
    font-family: "Playfair Display", serif;
    font-size: 12px;
  }
  .header .header_titulo .header_sub {
    font-size: 8px;
    margin: 0;
  }
  .header .header_titulo .header_button {
    border: 3px solid #8CEAE3;
    width: 100px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: #2EC6BB;
    color: #FFFFFF;
  }
}
.article {
  background-color: rgba(174, 236, 222, 0.52);
  padding: 40px;
}
.article img {
  width: 80%;
  margin: auto;
}
.article .article_encab {
  color: #5EADA1;
  font-weight: bold;
  margin-bottom: 0;
}
.article .article_title {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
}
.article .article_conte {
  color: #818181;
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.article_box i {
  position: relative;
  top: 3px;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  color: #5EADA1;
  font-size: 22px;
}

.article_box h3 {
  color: #FFFFFF;
  font-weight: 700;
}

.article button {
  background-color: #818181;
  color: #FFFFFF;
  border-radius: 20px;
  border: 2px solid rgba(152, 147, 147, 0.15);
  margin-left: 50px;
  width: 127px;
}

@media (max-width: 568px) {
  .article {
    width: 105%;
  }

  .img {
    margin: 12px 0 22px 28px;
  }
}
.main {
  background-color: rgba(174, 236, 222, 0.52);
  width: 100%;
  height: 450px;
  padding-top: 50px;
}

.main_titulo {
  text-align: center;
  color: #5EADA1;
  padding: 30px 0;
}

.card-title {
  padding-left: 100px;
}
.card-title .icon {
  width: 120px;
  height: 120px;
  border-radius: 32px;
  background-color: #5EADA1;
  padding-left: 39px;
  padding-top: 23px;
}
.card-title .icon a {
  font-size: 50px;
  color: #FFFFFF;
}
.card-title h1 {
  text-align: center;
  padding-right: 90px;
  padding-top: 10px;
  font-family: "Playfair Display", serif;
  font-size: 700;
  font-size: 22px;
  color: #70D8C8;
}

.card-text {
  color: #818181;
  text-align: center;
}

@media (max-width: 568px) {
  .main {
    width: 100%;
    height: 150%;
    padding-top: 50px;
  }
  .main .container {
    width: 93%;
  }

  .card {
    margin-bottom: 15px;
  }

  .card-title {
    padding-left: 50px;
  }
  .card-title h1 {
    padding: 12px 48px 0 0;
    text-align: center;
  }
}
.section {
  padding: 50px;
  background-color: rgba(152, 147, 147, 0.15);
}
.section img {
  width: 100%;
  height: auto;
}

.section_detalle .section_encab {
  color: #70D8C8;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: -10px;
}
.section_detalle .section_tit {
  color: #818181;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
}
.section_detalle .section_conte {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: #818181;
  padding: 12px 0;
}
.section_detalle button {
  background-color: #70D8C8;
  border-radius: 20px;
  padding-left: 20px;
  color: #FFFFFF;
  padding: 12px;
  margin: 30px;
  border: 5px solid #8CEAE3;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.section_extra .section_encab2 {
  color: #70D8C8;
  font-family: "Playfair Display", serif;
  padding: 8px;
}
.section_extra .section_cont2 {
  color: #818181;
}

@media (max-width: 568px) {
  .section {
    width: 105%;
  }
}
form {
  width: 480px;
  margin: auto;
  padding: 20px 0;
  font-family: "Playfair Display", serif;
}

button {
  margin-left: 50px;
  width: 90px;
  color: #FFFFFF;
  background-color: #2EC6BB;
  border-radius: 20px;
  border: 3px solid #8CEAE3;
}

.footer {
  background-color: #C3C4C4;
  text-align: center;
  width: 100%;
  height: 250px;
}
.footer .footer_icon {
  color: #FFFFFF;
  font-size: 22px;
  padding: 12px;
}
.footer .footer_text {
  width: 650px;
  text-align: center;
  margin-left: -170px;
  color: #FFFFFF;
}

.footer .container {
  width: 220px;
  position: relative;
  bottom: 70px;
}

.bg-gray {
  background-color: #C3C4C4;
}

@media (max-width: 568px) {
  .footer {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
