.main{
    background-color: $hol;
    width: 1440px;
    height: 450px;
    padding-top: 50px;
}
    
    .main_titulo{
        text-align: center;
        color: $caja;
        padding: 30px 0;
    }
    
    .card-title {
    padding-left: 100px;

    .icon{
        width: 120px;
        height: 120px;
        border-radius: 32px;
        background-color: $caja;
        padding-left: 39px;
        padding-top: 23px;

        a{
            font-size: $large;
            color: $white;
        }
    }
        h1{
           text-align: center;
           padding-right: 90px;
           padding-top: 10px;
            font-family: $play;
            font-size: $bold;
            font-size: $medium;
            color: $azi;
        }
    }
    

.card-text{
    color: $yar;
    text-align: center;
}