.bg-gray{
    background-color: $gray;
}

.navbar{
    img{
    color: $white;
    width: 120px;
    padding-left: 40px;
    box-sizing: border-box;
    }

    .collapse .navbar-collapse{
       
        
        .nav-item{
            float: right;
        }
    }
}